<!DOCTYPE html>
<html lang="en">
{% load static %}  <!-- Везде подключай эту хуйню -->
<head>
    <!-- Пример как подключать статические файлы, это css, img, js и другие -->
    <link rel="stylesheet" type="text/css" href="{% static 'scss/registration.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Имя пользователя">
  <input type="password" name="password" placeholder="Пароль">
  <input type="email" name="email" placeholder="Email">
  <button type="submit">Зарегистрироваться</button>
</form>

<div class="lol">
  lololol
</div>

</body>
</html>

